- cache message do
  .message
    .meta
      .user
        = sanitize(message.user)
      .timestamp
        = timeago_tag message.created_at
    .content
      = sanitize(Redcarpet::Markdown.new(MdEmoji::Render, :no_intra_emphasis => true).render(message.content)).html_safe
